/* src/components/style.css */

header {
    background-color: #19182e; /* Cor de fundo do cabeçalho */
    padding: 1.2rem; /* Espaçamento interno */
    color: rgb(255, 255, 255); /* Cor do texto */

    position: fixed; /* Fixa o cabeçalho no topo da página */
    width: 100%; /* Garante que o cabeçalho ocupe toda a largura */
    top: 0; /* Posiciona o cabeçalho no topo da página */
    left: 0; /* Garante que o cabeçalho se alinhe ao lado esquerdo da página */
    z-index: 1000;
    text-decoration: none;
    box-shadow:  0px 4px 15px #0000005e; /* Garante que o cabeçalho esteja acima de outros elementos */
  }
  
  nav ul {
    list-style: none; /* Remove marcadores da lista */
    display: flex; /* Alinha os itens da lista horizontalmente */
    justify-content: space-around; /* Distribui os itens igualmente */
    margin: 0; /* Remove margem padrão */
    padding: 0; /* Remove preenchimento padrão */
  }
  
  nav li {
    margin: 0; /* Remove margem dos itens da lista */
  }
  
  nav a {
    transition-duration: 1s;
    color: rgb(255, 255, 255); /* Cor dos links */
    text-decoration: none; /* Remove sublinhado dos links */
    font-weight: bold; /* Torna o texto dos links em negrito */
  }
  
  nav a:hover {
    padding-bottom: 10px;
    transition-duration: 1s;
    border-bottom: 2px solid rgb(211, 198, 198); /* Adiciona sublinhado ao passar o mouse sobre o link */
  }
  